ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a.website-button {
  text-decoration: none;
  border-radius: 1rem;
  color: #000;
  background: #009688a8;
  transition: 500ms;
}

a.website-button:hover,
a.website-button:focus {
  background: #009688;
  color: #ffffff;
}

a.homepage {
  padding: 0.5rem 0.75rem;
  margin-left: 1em;
}

a.wiki {
  padding: 0.25rem 0.5rem;
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 1.25rem;
  margin: 0;
}

.contact fieldset,
.details-button,
.details-list-container {
  border: 2px solid #f44336;
}

.contact fieldset,
.details-button {
  border-radius: 0.75rem;
}

.contact fieldset {
  margin: 0;
}

.contact li {
  margin: 0.25rem 0;
}

.details-button {
  background: none;
  width: 100%;
  margin-top: 0.25rem;
  padding: 0.25rem;
  transition: 500ms;
}

.details-button:hover,
.details-button:focus {
  cursor: pointer;
  color: #fff;
  background: #f44336;
}

.details-list-container {
  height: 0;
  opacity: 0;
  overflow: hidden;
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  transition: 500ms, opacity 750ms;
}

.details-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.details-list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  margin: 0.25rem;
  padding: 0.25rem;
}

a.osm-wiki-link {
  text-decoration: none;
  color: #673ab7;
}
