header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border-bottom: solid 1px #bdbdbd; */
  padding-bottom: 0.25rem;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  margin: 0.5em 0;
}

.title {
  font-size: 1.25rem;
  margin: 0;
}

.subtitle {
  margin: 0;
  /* margin-left: .25rem; */
}

.contact fieldset {
  margin: 0;
  border: 1px solid #9c27b0;
  border-radius: 0.5em;
}

.details-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.details-list li {
  margin: 0.25em;
  padding: 0.5em;
  border-radius: 0.5em;
  /* background: #9c27b07a; */
  text-align: center;
  overflow: auto;
}

.details-list span {
  margin-left: 10px;
  border: solid 1px;
  padding: 0px 5px;
  border-radius: 50%;
}

.leaflet-container .website-link {
  margin-left: 1em;
  color: #000;
  text-decoration: none;
}

summary {
  cursor: pointer;
}

.leaflet-container .website-link,
summary {
  padding: 0.5em;
  border-radius: 0.75em;
  border: 1px solid #9c27b0;
  background: #9c27b07a;
}

.website-link:hover,
summary:hover {
  background: #9c27b0;
  color: #ffffff;
}

.leaflet-popup-content {
  min-width: 12rem;
}
