.input-panel {
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  opacity: 0.95;
  transition: 500ms;
}

.toggle-button {
  position: relative;
  top: 1.75rem;
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #f44336;
  color: #f44336;
  transition: 500ms;
}

.toggle-button:hover,
.toggle-button:focus {
  top: 2.25rem;
  background: #f44336;
  color: #fff;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

form * {
  transition: 500ms;
}

.coordinate-input,
.additional-input,
.filter-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
