.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  width: fit-content;
  max-width: 15em;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 45%;
  padding: 1em;
  border-radius: 6px;
  text-align: center;
}

.loading {
  background: #ffeb3b;
}

.error {
  background: #ff1100;
  color: #fff;
}

.error button {
  cursor: pointer;
  background: none;
  border: none;
  position: absolute;
  outline-color: #000;
  right: 5px;
  top: 5px;
  padding: 5px;
  border-radius: 30%;
  transition: 500ms;
}

.error button:hover {
  color: #fff;
}
