.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.input-container {
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  opacity: 0.95;
  transition: 500ms;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.toggle-button {
  position: relative;
  top: 1.75rem;
  font-size: 2rem;
  padding: 5px 15px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid #f44336;
  color: #f44336;
  transition: 500ms;
}

.toggle-button:hover, .toggle-button:focus {
  top: 2.25rem;
  background: #f44336;
  color: #fff;
  cursor: pointer;
}

.hidden {
  transform: rotate(180deg);
}