.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message {
  width: fit-content;
  max-width: 15em;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 25%;
  padding: 1em;
  border-radius: 6px;
  text-align: center;
}

.error {
  background: #ff1100;
  color: #fff;
}

.loading {
  background: #ffeb3bbd;
}