form {
  display: flex;
  flex-direction: column;
  padding: 1em;
}

.top,
.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.top {
  margin-bottom: 1em;
}

.top > *, .bottom > * {
  margin: 0 0.5em;
}

.top label {
  display: flex;
  flex-direction: column;
}
