/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 1rem 0 1rem;
}

.coordinate-input,
.additional-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.coordinate-input input,
.additional-input *,
.submit-button {
  border-radius: 5rem;
  transition: 500ms;
}

.coordinate-input > *,
.additional-input > *,
.submit-button {
  margin: 0.25rem 0.5rem;
}

.coordinate-input label {
  display: flex;
  flex-direction: column;
}

.coordinate-input label span {
  font-size: 0.75rem;
  margin-left: 1rem;
}

.coordinate-input input {
  /* -moz-appearance: textfield; */
  font-size: 1rem;
  padding: 0.5rem 0;
  border: none;
  text-align: center;
  border: 2px solid #f44336;
}

.additional-input > * {
  border: 2px solid #f44336;
  cursor: pointer;
}

.additional-input label {
  display: flex;
  align-items: center;
  padding: 0.25rem 0.25rem 0.25rem 0.75rem;
}

.additional-input label > * {
  margin-left: 0.5rem;
}

.location-input select {
  font-family: inherit;
  border: 2px solid #f44336;
}

.submit-button {
  background: #009688a8;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  max-width: 25rem;
  cursor: pointer;
}

.submit-button:hover,
.submit-button:focus {
  background: #009688;
  color: #fff;
}

.fill {
  background: #f44336;
  border-color: #f44336;
  color: #fff;
}
