form {
  display: flex;
  flex-direction: column;
  align-items: center ;
  padding: 1em;
}

.coordinate-input,
.additional-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.coordinate-input label {
  display: flex;
  flex-direction: column;
  margin: 0.25em 0.5em;
}

.coordinate-input label span {
  font-size: 0.75em;
  margin-left: 1em;
}

.coordinate-input input,
.additional-input *,
.submit-button {
  border-radius: 25px;
  transition: 500ms;
}

.coordinate-input input {
  -moz-appearance: textfield;
  padding: 0.5em 0;
  border: none;
  background: #ff7e66;
  text-align: center;
  font-size: 1em;
}

.coordinate-input input:focus {
  background: #f44336;
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-input,
.location-input {
  display: flex;
  width: 10rem;
  margin: .5rem;
}

.filter-input label,
.location-input > * {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 0.25rem;
  border: 2px solid #f44336;
  cursor: pointer;
}

.location-input select {
  font-family: inherit;
}

.submit-button {
  background: #009688a8;
  border: none;
  padding: 1rem;
  margin-top: .5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 25rem;
  cursor: pointer;
}

.submit-button:hover {
  background: #009688;
  color: #fff;
}
